/* Navbar.css */
.navbar {
  position:sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background: rgba(74, 81, 94, 0.356);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  color: #fff;
}

.logo {
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.08);
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  position: relative;
  margin-left: 25px;
  font-size: 1.05rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  transition: width 0.3s ease-in-out;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  color: #00c6ff;
}

.active-link {
  color: #00c6ff;
  font-weight: 700;
  text-shadow: 0 0 8px rgba(0, 198, 255, 0.6);
}
